/* ExperienceModal.css */
body.modal-open {
    overflow: hidden;
}

.experience-modal {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 660px;
    height: 700px;
    top: 50%;
    left: 50%;
    background: hsla(213, 77%, 14%, 1);
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 9999;
}

.modal-container h2{
    text-align: center;
    padding-bottom: 2rem;
}

.modal-container p{
    padding: 0.5rem;
}

.modal-container .btn {
    margin-top: 2rem;
}

@media screen and (max-width:660px) {
    .experience-modal{
        width: 340px;
        overflow-y: auto;
    }
    .modal-container h2{
        font-size: 25px;
    }

    .modal-container p{
        font-size: 20px;
    }

    .experience-modal::-webkit-scrollbar {
        width: 0;
        background: transparent;
    }
}